<h1 style="color:blue;">Centro de Mensajes</h1>
<br>

<form action="/" method="post">

    <div class="form-group">
        <input id="nombre" class="form-control" type="email" name="email"  placeholder="tunombre@gmail.com">
        <hr>
    </div>

    <div> 
    <span></span>
    </div>   

    <div class="col-5">
        <input type="text" class="form-control" placeholder="Ingresa tu mensaje">
        <br>
      </div>
      
      <div class="col-auto">
        <button type="submit" class="btn btn-primary mb-3">Enviar!</button>
      </div>



</form>